<div id="searchInterestBox">

    <section class="row">
        <div class="col-xs-12 col-md-6">
            <!-- angucomplete input-->
            <!--local json usage: local-data="inputResults.results"-->
            <!--remote json usage: remote-url="http://myserver.com/api/user/find?s=" remote-url-data-field="results"-->
            <angucomplete-alt
                id="searchInterestAutocompleteAlt"
                placeholder="Search customer interested in..."
                pause="300"
                selected-object="selectedItem"
                local-data="inputResults.results"
                search-fields="name"
                title-field="name"
                description-field="reach.trends"
                image-field="id"
                minlength="1"
                input-class="form-control form-control-small"
                match-class="highlight"
                template-url="/search-interest/custom-templates/search-interest-custom-template.html"
                clear-selected="true">
            </angucomplete-alt>
        </div>
    </section>

    <section class="row items" ng-show="items.length>0">
        <div class="col-xs-3" ng-repeat="item in items">
            <div class="item">
                <span>{{item.title}}</span>
                <div class="pull-right"><button type="button" class="btn btn-default" ng-click="removeItem(item)">Remove</button></div>
            </div>
        </div>
    </section>


</div>
